@media screen and (min-width: 1400px) {
  .slide-content {
    /* height: 700px; */
    height: 94.4vh;
  }
} 

@media screen and (min-width: 1200px) {
  .pricingTableContainer {
    width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .container-features-section1 {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 990px) {
  .pricingTableContainer {
    grid-template-columns: 1fr 1fr;
    width: 600px;
  }
}

@media (max-width: 800px) {
  .pricingTableContainer {
    grid-template-columns: 1fr;
    width: 500px;
  }
}



@media screen and (max-width: 1400px) {
  .carousel-container {
    height: 700px;
  }
  #prevBtn, #nextBtn {
    top: 36%;
  }
}


@media screen and (max-width: 1140px) {
  .carousel-container {
    height: 600px;
  }
  #prevBtn, #nextBtn {
    top: 30%;
  }
}

@media screen and (max-width: 1010px) {
  .carousel-container {
    height: 500px;
  }
  #prevBtn, #nextBtn {
    top: 27%;
  }
}

@media screen and (max-width: 860px) {
  .carousel-container {
    height: 440px;
  }
  #prevBtn, #nextBtn {
    top: 27%;
  }
}

@media screen and (max-width: 640px) {
  .carousel-container {
    height: 350px;
  }
  #prevBtn, #nextBtn {
    top: 23%;
  }
}

@media (max-width: 1110px) {
  .container-section-services1 {
    grid-template-columns: 1fr 1fr;
  }

  .container {
    width: 100%;
    margin: 0 0;
    text-align: center;
  }
}
/* mobile view */
@media screen and (max-width: 770px) {
  .container {
    width: 40%;
    margin: 0 0;
  }

  .container-section-services1 {
    grid-template-columns: 1fr;
  }
  
}

@media screen and (max-width: 870px) {
  .container {
    width: 100%;
    margin: 20px 0;
  }
}

/* desktop view */
@media screen and (min-width: 1200px) {
  .container-features-section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}